body {
    background-color: #fafafa !important;
    padding-top: 42px;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    display: flex;
    flex: 1;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    word-wrap: break-word;
}

hr {
    border-top: 1px dotted #2c2a24;
    margin-bottom: 0;
}

pre {
    margin: 0 0 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
}

a,
.text-primary {
    color: #337ab7;
    word-wrap: break-word;
}

.top-nav .container {
    max-width: 1575px;
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand {
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;
    padding: 0;
}

.navbar-brand img {
    vertical-align: baseline;
}

.top-nav a,
.top-nav a:hover {
    text-decoration: none;
    color: #fff;
}

a.card {
    text-decoration: none;
    color: #000;
    border: 0;
}

.top-nav,
footer,
.sidebar {
    flex-shrink: 0;
}

.sidebar .badge-secondary {
    color: #847b79;
    background-color: #eeedea;
}

footer {
    background-color: #27343c;
    color: #fff3e4;
    font-size: .8rem;
    padding: 30px 30px;
}

footer h5 {
    font-size: .9rem;
    font-family: inherit;
    margin-top: 10px;
}

footer h5,
footer a {
    color: #e3d096 !important;
}

footer .icons a {
    font-size: 1.2rem;
    margin: 0 8px;
}

footer hr {
    border-top: 1px dotted #555;
    margin: 30px 0;
}

.main-content {
    flex: 1 0 auto;
}

.main-content h1 {
    font-size: 2rem;
}

.post h1,
.recent-posts h2,
.sidebar h2 {
    padding-bottom: 10px;
    border-bottom: 1px dotted #2c2a24;
}

.recent-posts .post {
    margin-bottom: 4rem;
}

.recent-posts a.title,
.recent-posts a.title:hover {
    color: #222;
    text-decoration: none;
}

.top-nav {
    color: #fff;
    border-color: rgba(255,255,255,0);
}

.share-icons {
    font-size: 1.2em;
}

.share-icons a {
    color: #eeedea;
}

.share-icons .fa-inverse {
    color: #847b79;
}

.feature-image,
.feature-banner {
    background: no-repeat center center;
    background-size: cover;
    display: flex;
    height: 100%;
    text-align: center;
    align-items: center;

    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.feature-image-text {
    max-width: 760px;

    margin-right: auto;
    margin-left: auto;
}

.white-shadow-text {
    text-shadow: 0 0 3px #222;
    color: #fcfbf7;
}

.feature-image-text h1 {
    font-size: 2.3rem;
}

.feature-image-text .intro-description {
    font-size: 1.6rem;
}

.sidebar {
    background-color: #F8F8F8;
    border-left: 1px dotted #BBB;
    padding: 1.5rem 50px 20px 50px;
    flex: 0 0 30rem;
}

.sidebar a:hover {
    color: #23527c;
    background-color: #eee;
}

.btn-outline-secondary {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

a.btn-outline-secondary:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.blockquote {
    margin: 25px auto;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid #78C0A8;
    position: relative;
    background: #EDEDED;
}

blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: #78C0A8;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}