{{ with .Site.Social.instagram -}}
<link rel="me" type="text/html" href="https://www.instagram.com/{{ . }}/" />
{{ end -}}
{{ with .Site.Social.twitter -}}
<link rel="me" type="text/html" href="https://twitter.com/{{ . }}"/> 
{{ end -}}
{{ with .Site.Social.linkedin -}}
<link rel="me" type="text/html" href="https://www.linkedin.com/in/{{ . }}/"/> 
{{ end -}}

<link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">

<link rel="alternate" type="application/rss+xml" href='{{ "index.xml" | absURL }}' />

<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="author" content="{{.Site.Params.Author}}" />
<meta name="copyright" content="{{.Site.Copyright}}" />

{{ if .Description }}
<meta name="description" content="{{ .Description }}">
{{ else if .IsPage }}
<meta name="description" content="{{ .Summary | plainify }}">
{{ else }}
<meta name="description" content="{{ .Site.Params.Description }}">
{{ end }}