{{ with .Site.Social.twitter -}}
<a class="py-2 px-2" href="https://twitter.com/{{ . }}"><i class="fab fa-twitter"></i></a>
{{ end -}}
{{ with .Site.Social.instagram -}}
<a class="py-2 px-2" href="https://instagram.com/{{ . }}"><i class="fab fa-instagram"></i></a>
{{ end -}}
{{ with .Site.Social.linkedin -}}
<a class="py-2 px-2" href="https://www.linkedin.com/in/{{ . }}/"><i class="fab fa-linkedin"></i></a>
{{ end -}}
<a class="py-2 px-2" href='{{ "index.xml" | absURL }}'><i class="fas fa-rss"></i></a>
